* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.container {
    max-width: 96%;
    margin: 0 auto;
    height: 100vh;
}

.wrapper-container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin: 0 2rem;
}

.logo img {
    width: 200px;
    padding-bottom: 50px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.article-text h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.article-text p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 50px;
}

.article-text a {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 25px;
    box-shadow: 0 8px 17px -8px black;
    transition: all .3s ease;
}

.article-text a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social-icon {
    text-align: right;
}


.social-icon a {
    font-size: 14px; 
    border: 1px solid white;
    color: white;
    padding: 7px;
    text-decoration: none;
    border-radius: 25px;
}

.social-icon a:not(:first-child) {
    margin-left: 2rem;
}

.social-icon a ::after { 
    content: ''; 
    transition: all .3s ease;
}

.social-icon a :nth-child(2) {
    margin-left: 2.4rem;
}

.social-icon a :hover {
    color: hsl(300, 69%, 71%); 
}

.social-icon a :hover::after {
    border-color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 650px) {
    .article-img img {
        width: 100%;
    }

    .main{
        flex-direction: column;
        text-align: center;
    }

    .article-text h1 {
        font-size: 26px;
    }

    .article-text a {
        padding: 10px 70px;
    }

    .social-icon {
        margin: 40px;
        text-align: center;
    }
}


